<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Registro'}) %>
<body>
    <%- include('partials/header')  %>
    <div class="margen-navbar">
      <form action="/users/register" method="POST" enctype="multipart/form-data" class="row g-3">
        <% if (locals.errormail && errormail.mail) { %>
          <h5 class="text-danger">
            <%= errormail.mail.msg %> 
          </h5>
        <% } %>
        <div class="col-md-6">
          <label for="email" class="form-label">E-Mail</label>
          <input type="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" value="<%= locals.oldData && oldData.email ? oldData.email : null %>" name="email" id="email" placeholder="nombre@mail.com">
          <% if (locals.errors && errors.email) { %>
            <h5 class="text-danger">
              <%= errors.email.msg %>
            </h5>
          <% } %>
        </div>
        <div class="col-md-6">
          <label for="contrasena" class="form-label">Password</label>
          <input type="password" class="form-control <%= locals.errors && errors.contrasena ? 'is-invalid' : null %>" name="contrasena" id="contrasena">
          <% if (locals.errors && errors.contrasena) { %>
            <h5 class="text-danger">
              <%= errors.contrasena.msg %>
            </h5>
          <% } %>
        </div>
        <div class="col-6">
          <label for="nombre" class="form-label">Nombre Completo</label>
          <input type="text" class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>" value="<%= locals.oldData && oldData.nombre ? oldData.nombre : null %>" name="nombre" id="nombre" placeholder="Jose Perez">
          <% if (locals.errors && errors.nombre) { %>
            <h5 class="text-danger">
              <%= errors.nombre.msg %>
            </h5>
          <% } %>
        </div>
        <div class="col-6">
          <label for="usuario" class="form-label">Nombre de usuario</label>
          <input type="text" class="form-control <%= locals.errors && errors.usuario ? 'is-invalid' : null %>" value="<%= locals.oldData && oldData.usuario ? oldData.usuario : null %>" name="usuario" id="usuario" placeholder="jperez">
          <% if (locals.errors && errors.usuario) { %>
            <h5 class="text-danger">
              <%= errors.usuario.msg %>
            </h5>
          <% } %>
        </div>
        <div class="col-6">
          <label for="direccion" class="form-label">Dirección</label>
          <input type="text" class="form-control <%= locals.errors && errors.direccion ? 'is-invalid' : null %>" value="<%= locals.oldData && oldData.direccion ? oldData.direccion : null %>" name="direccion" id="direccion" placeholder="Av. de Mayo 1553">
          <% if (locals.errors && errors.direccion) { %>
            <h5 class="text-danger">
              <%= errors.direccion.msg %>
            </h5>
          <% } %>
        </div>
        <div class="col-3">
          <label for="piso" class="form-label">Piso</label>
          <input type="text" class="form-control" name="piso" id="piso" placeholder="1">
        </div>
        <div class="col-3">
          <label for="departamento" class="form-label">Departamento</label>
          <input type="text" class="form-control" name="departamento" id="departamento" placeholder="B">
        </div>
        <div class="col-md-4">
          <label for="ciudad" class="form-label">Ciudad</label>
          <input type="text" class="form-control <%= locals.errors && errors.ciudad ? 'is-invalid' : null %>" value="<%= locals.oldData && oldData.ciudad ? oldData.ciudad : null %>" name="ciudad" id="ciudad">
          <% if (locals.errors && errors.ciudad) { %>
            <h5 class="text-danger">
              <%= errors.ciudad.msg %>
            </h5>
          <% } %>
        </div>
        <div class="col-md-4">
          <label for="provincia" class="form-label">Provincia/Estado</label>
          <input type="text" class="form-control <%= locals.errors && errors.provincia ? 'is-invalid' : null %>" value="<%= locals.oldData && oldData.provincia ? oldData.provincia : null %>" name="provincia" id="provincia">
          <% if (locals.errors && errors.provincia) { %>
            <h5 class="text-danger">
              <%= errors.provincia.msg %>
            </h5>
          <% } %>
        </div>
        <div class="col-md-4">
          <label for="pais" class="form-label">País</label>
          <select name="pais" id="pais" class="form-select <%= locals.errors && errors.pais ? 'is-invalid' : null %>">
            <option>Elige...</option>
            <option>Argentina</option>
            <option>Brasil</option>
            <option>Uruguay</option>
            <option>Paraguay</option>
            <option>Bolivia</option>
          </select>
          <% if (locals.errors && errors.pais) { %>
            <h5 class="text-danger">
              <%= errors.pais.msg %>
            </h5>
          <% } %>
        </div>
        <div class="col-md-12">
          <label for="imagen" class="form-label">Imagen</label>
          <input type="file" class="form-control <%= locals.errors && errors.imagen ? 'is-invalid' : null %>" name="imagen" id="imagen">
          <% if (locals.errors && errors.imagen) { %>
            <h5 class="text-danger">
              <%= errors.imagen.msg %>
            </h5>
          <% } %>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Registrarme</button>
        </div>
      </form>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>